# Keybindings
next_page <C-j>
previous_page <C-k>
fit_to_page_height a
embed_annotations <C-s>

# Vim-like paper reading and highlighting
keyboard_select v
keyboard_select V
add_highlight h
set_select_highlight_type H
add_highlight_with_current_type <C-h>
delete_highlight <C-z>
delete_highlight dh
toggle_select_highlight <C-S-h>

goto_highlight gh
goto_next_highlight ]h
goto_prev_highlight [h
